body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #317773;
}

header {
    background-color: #E2D1F9;
    color: #a1258c;
    text-align: center;
    padding: 1em 0;              
}
/* styles.css */

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-image img {
    border-radius: 10%;
    max-width: 100%;
    height: auto;
    margin-right: 10px; /* Add margin for spacing */
}


section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}